/*-------------page styles-----------*/
body {
  background-color: white;
}

h1 {
  background-color: #fefbd8;
}

div {
  background-color: #fefbd8;
}

span {
  background-color: #fefbd8;
}

a:link,
a:visited {
  background-color: #9FE2BF;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: #b19cd9;
  color: #000;
}

th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
  background-color: white;

}

td {
  text-align: center;
  background-color: seashell;
}

tr:nth-child(even) {
  background-color: #eee;
}

th[scope="col"] {
  background-color: #696969;
  color: #fff;
  width:70%
}

th[scope="row"] {
  background-color: #d7d9f2;
}

caption {
  padding: 10px;
  caption-side: bottom;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: .8rem;
}