/*-------------page styles-----------*/
body {
    background-color: white;
  }
  
  h1 {
    background-color: #fefbd8;
  }
  
  div {
    background-color: #fefbd8;
  }
  
  span {
    background-color: #fefbd8;
  }			
  a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }
  table, td {
    border: 1px solid black;
  }			
  tr { border: 1px solid black; 
  }