/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

/* Header */
header {
    background-color: #d22d2d;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Main Content */
main {
    padding: 20px;
}

/* Headings */
h1 {
    color: rgb(255, 217, 0);
}
 h2 {
    color: #d22d2d;
}

/* Call-to-Action Button */
.cta {
    text-align: center;
    margin-top: 20px;
}

.cta a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d22d2d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cta a:hover {
    background-color: #a52222;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
